<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hospital Management</title>
  <link rel="stylesheet" href="/css/style.css">
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
/>
<!-- partials/header.ejs -->
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/about-us">About Us</a></li>
    <li><a href="/contact-us">Contact Us</a></li>
    <li><a href="/login">Login</a></li>
    
  </ul><a href="/appointment">Book Appointment</a>

</nav>

<style>
  nav {
    background-color: #333;
    padding: 10px;
  }
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  nav ul li a:hover {
    color: #ddd;
  }
</style>


</head>
<body>
