<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top shadow">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <img src="https://img.icons8.com/ios-filled/50/ffffff/hospital.png" width="30" class="me-2" alt="Hospital Logo">
      CarePlus Hospital
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navLinks" aria-controls="navLinks" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navLinks">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/add-doctor">Add Doctor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav><header>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About Us</a>
    <a href="/doctors">Doctors</a>
    <a href="/contact">Contact Us</a>
    <a href="/login">Login</a>
  </nav>
</header>

